extends layout

block content
    h1=title

    form(method='POST' action='')
        div.form-group
            label(for='name') Jméno:
            input#text.form-control(type='text' name='name' value=(undefined===customer ? '' : customer.name) placeholder="Doplnit validaci!!!" required='true')
            label(for='surname') Příjmení:
            input#text.form-control(type='text' name='surname' value=(undefined===customer ? '' : customer.surname) )
            label(for='phone') Telefon:
            input#text.form-control(type='text' name='phone' value=(undefined===customer ? '' : customer.phone) placeholder="Doplnit validaci!!!")
            label(for='email') E-mail:
            input#text.form-control(type='text' name='email' value=(undefined===customer ? '' : customer.email) placeholder="Doplnit validaci!!!")
            label(for='note') Poznámka:
            input#textarea.form-control(type='textarea' name='note' value=(undefined===customer ? '' : customer.note) )
        button.btn.btn-primary(type='submit') Submit

    if customer
        p
            a(href=customer.url) Zpět

    if errors
        ul
            for error in errors
                li!= error.msg
    p
        ddd